[package]
authors = ["natepiano <slicks.curable.0k@icloud.com>"]
categories = [
  "development-tools",
  "development-tools::debugging",
  "game-development",
]
description = "Extra BRP methods for Bevy apps including screenshot, shutdown, and keyboard input capabilities"
edition = "2024"
keywords = ["bevy", "brp", "debugging", "gamedev", "remote"]
license = "MIT OR Apache-2.0"
name = "bevy_brp_extras"
readme = "README.md"
repository.workspace = true
version = "0.17.1"

[dependencies]
# Extras needs many Bevy features
bevy = { version = "0.17.2", features = [
  "bevy_core_pipeline",
  "bevy_log",
  "bevy_remote",
  "bevy_render",
  "bevy_sprite",
  "bevy_text",
  "bevy_ui",
  "bevy_window",
  "bevy_winit",
  "default_font",
  "png",
  "x11",
] }

serde.workspace        = true
serde_json.workspace   = true
strum.workspace        = true
strum_macros.workspace = true
thiserror.workspace    = true

[dev-dependencies]
reqwest.workspace = true

[lints]
workspace = true
